*{
  margin: 0;
  padding: 0;
}

body {
  background: #212135;
  padding: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
html{
  scroll-behavior: smooth;
}
.nav
{
  display: block;
}

h1 {
  color: #c0c0c0;
  font-weight: 100;
}

.btn {
  color: #999;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover {
  background: #fff;
  padding: 18px 18px;
  color: black;
}

/* Navbar ends here */

.main {
  margin-top: 50px;
  background: #262636;
  width: 100%;
  height: 35em;
  position: block;
}

.div2 {
  text-align: left;
  padding: 110px ;
  margin-top: 70px;
  position: absolute;
  line-height: 1.9;
}

.span1 {
  color: rgb(209, 209, 47);
}

/* Name ends here */

.div3 {
  position: absolute;
  list-style: none;
  margin-left: 1200px;
  margin-top: 100px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 80px;
  display: absolute;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-youtube {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa:hover {
  opacity: 0.5;
  background: white;
  color: black;
}

.photo{
  height: 300px;
  border-radius: 80%;
  float: right;
  margin-right: 500px;
  margin-top: 100px;
}

.another
{
  background: #1d1d29;
  height: 60vh;
  width: 100%;
  margin-top: 50px;
}

.span2{
  width: 80px;
  background: black;
  align-content: center;
  padding: 10px ;
}


.span2:hover{
  background: #fff;
  padding: 18px 18px;
  color: black;
}

.intro{
  margin-top: 5px;
  text-align: center;
  padding: 50px;
  color:antiquewhite;
  font-weight: lighter;
}

.intro p 
{
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1.8;
}

.right
{
  float: right;
  margin-right: 100px;
}

.projects
{
  background: #262636;
  height: 60vh;
  width: 100%;
  margin-top: 60px;
}


.column {
  float: left;
  width: 31.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.tech
{
  background: #1d1d29;
  height: 50vh;
  width: 100%;
  margin-top: 50px;
}
.tech1
{
  float: left;
  margin-left: 100px;
}
.tech2
{
  float: right;
  margin-right: 100px;
}


  .btn1 {
    background-color: #f07c59;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
  
}
.btn1:hover {
  background: #fff;
  padding: 18px 18px;
  color: black;
}
